.js-toc-block {
  position: relative;
}
.js-toc-block.is-position-fixed {
  position: relative !important;
}
.toc-list-item {
  list-style-type: none;
}
.toc-link {
  text-decoration: none;
}
.toc-link::before {
  height: 2rem;
}

@media (min-width: 48em) {
  .js-toc-block.is-position-fixed {
    position: fixed !important;
    top: 80px;
    max-width: 150px;
  }
}
@media (min-width: 62em) {
  .js-toc-block.is-position-fixed {
    max-width: 210px;
  }
}
@media (min-width: 75em) {
  .js-toc-block.is-position-fixed {
    max-width: 259px;
  }
}
